@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400;0,700;1,400;1,700&family=Tenor+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@500&display=swap');

$titulos: 'Tenor Sans', sans-serif;

$subtitulos: 'Archivo Narrow', sans-serif;

$t_cuadros: 'Encode Sans', sans-serif;
